name: Windows PThreads

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'What version of PThreads to compile and commit to repo?'
        required: true
        default: 3.0.0
        type: number
      hash:
        description: 'What is the hash to the source version?'
        required: true
        default: 07053a521b0a9deb6db2a649cde1f828f2eb1f4f
        type: string

jobs:
  windows:
    runs-on: windows-${{ matrix.config.server }}
    continue-on-error: true
    name: windows-${{ matrix.config.toolchain}}-${{ matrix.config.arch}}
    env:
      VERSION: ${{ github.event.inputs.version }}
      HASH: ${{ github.event.inputs.hash }}
    strategy:
      fail-fast: false
      matrix:
        config:
          - {toolchain: Visual Studio 16 2019, arch: x64, server: 2019}
    steps:
      - uses: actions/checkout@v2
      - name: Envinfo
        run: npx envinfo
      - name: Build
        shell: cmd
        run: |
          curl -L https://cytranet.dl.sourceforge.net/project/pthreads4w/pthreads4w-code-v${{ env.VERSION }}.zip --output pthreads4w-code.zip
          unzip -xoq pthreads4w-code.zip
          mkdir pthreads4w-code-${{ env.HASH }}\cmake
          copy /Y .github\cmake\*.* pthreads4w-code-${{ env.HASH }}\cmake
          copy /Y .github\CMakeLists.txt pthreads4w-code-${{ env.HASH }}
          copy /Y .github\pthread.cxx pthreads4w-code-${{ env.HASH }}
          cd pthreads4w-code-${{ env.HASH }}
          mkdir build
          cd build
          cmake .. -D BUILD_TESTING=OFF -G "Visual Studio 16 2019" -A x64 -D CMAKE_BUILD_TYPE=Release
          cmake --build . --config Release --target install
          dir ..\PTHREADS-BUILT\bin
          dir ..\PTHREADS-BUILT\include
          dir ..\PTHREADS-BUILT\lib
        env:
          VERSION: ${{ github.event.inputs.version }}
          HASH: ${{ github.event.inputs.hash }}
      - name: Upload/Commit to Repo
        shell: cmd
        run: |
          git pull
          git config user.name github-actions
          git config user.email github-actions@github.com
          mkdir lib\Windows\
          copy /Y pthreads4w-code-${{ env.HASH }}\PTHREADS-BUILT\bin\pthreadVC3.dll lib\Windows\
          git add lib
          git commit -m "created pthreadVC3.dll - for Windows x86_64"
          git push -q
          mkdir headers\original\pthreads
          copy /Y pthreads4w-code-${{ env.HASH }}\PTHREADS-BUILT\include\*.* headers\original\pthreads
          git add headers
          git commit -m "Windows pthread *.h headers"
          git push -q
